<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title 'mainTitle'|trans({}, 'admin') %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {% stylesheets 'bundles/globalcomdoorman/css/*' %}
            <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
{% if app.user %}
    {% block nav %}
        <nav class="navbar navbar-fixed-top">Tady bude navigace
        </nav>
    {% endblock %}
{% endif %}
<div class="container">
    {% block body '' %}
</div>
{% block javascripts %}
    <script src="{{ asset('/js/jquery-2.1.1.js') }}"></script>
    {% javascripts 'bundles/globalcomdoorman/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
